
  .scrollTop {
    position: fixed; 
    width: 20%;
    bottom: 12px;
    right: -80px;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    color: darkblue;
  }
  
  .scrollTop:hover{
    color: darkcyan;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

  @media (max-width: 600px) {
  .scrollTop {
    position: fixed;
    bottom: 10px;
    right: -8px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .scrollTop {
    position: fixed;
    bottom: 10px;
    right: -25px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .scrollTop {
    position: fixed;
    bottom: 15px;
    right: -50px;
  }
}